$teams:
  "PHI" #004C54 #A5ACAF,
  "NE"  #C60C30 #002244,
  "ARI" #97233F #FFB612,
  "BUF" #00338D #C60C30,
  "CIN" #FB4F14 #000000,
  "DEN" #FB4F14 #002244,
  "HOU" #03202F #A71930,
  "KC"  #E31837 #FFFFFF,
  "MIN" #4F2683 #FFC62F,
  "NYG" #0B2265 #A71930,
  "SF"  #B3995D #AA0000,
  "TEN" #418FDE #0C2340,
  "ATL" #A71930 #000000,
  "CAR" #0085CA #101820,
  "CLE" #311D00 #FF3C00,
  "DET" #0076B6 #B0B7BC,
  "IND" #002C5F #FFFFFF,
  "LAR" #002244 #B3995D,
  "NYJ" #125740 #FFFFFF,
  "PIT" #101820 #FFB612,
  "SEA" #002244 #69BE28,
  "WAS" #773141 #FFB612,
  "BAL" #241773 #9E7C0C,
  "CHI" #0B162A #C83803,
  "DAL" #869397 #041E42,
  "GB"  #203731 #FFB612,
  "JAX" #006778 #D7A22A,
  "MIA" #008E97 #FC4C02,
  "NO"  #D3BC8D #101820,
  "OAK" #C4C9CC #000000,
  "LAC" #0080C6 #FFC20E,
  "TB"  #D50A0A #FF7900;

$dark: #5a6673;
$medium: #9d9d9d;
$medium-light: #cdcdcd;
$light: #eeeeee;

$symbols: (
  "nbsp": "\00a0"
);