@mixin page-theme($color-list) {
  $color1: nth($color-list, 1);
  $color2: nth($color-list, 2);
  $color3: nth($color-list, 3);
  $color4: nth($color-list, 4);

  background-color: $color3;
  color: $color1;

  // View Toggler compoenent
  .view-toggle-button {
    .button-group {
      border-color: $color2;
    }

    .label {
      color: $color2, 50%;
    }

    .toggle-button {
      border-color: $color3;

      &.active {
        border-color: $color1;
        background-color: $color1;
        color: $color3;
      }
    }
  }

  // Standings component
  .team-results-table {
    background-color: $color4;

    .team-results-row {
      &:not(.nfl-team-row):not(.header-row) {
        background-color: $color1;
        color: $color4;
      }
    }

    .nfl-team-row {
      color: $color2;
      &:not(:last-child) {
        border-color: $color3;
      }
    }

    .team-draft-picks {
      color: $color2;
    }
  }

  // Team Standings component
  #team-standings {
    background-color: $color4;

    .team-standings-row {
      color: $color2;

      &:not(:last-child) {
        border-color: $color3;
      }

      &.header-row {
        color: $color1;
        border-color: $color2;
      }
    }

    .highlighted-row {
      color: $color1;
      background-color: lighten($color3, 5%);
    }
  }
}

$dark-theme: #ccc, #777, #555, #333;
$default-theme: $dark, $medium, $light, $white;

$themes-map: (
  default: $default-theme,
  dark: $dark-theme,
  eagles: (
    map-get(map-get($teams-map, 'PHI'), 'primary'),
    $medium,
    map-get(map-get($teams-map, 'PHI'), 'secondary'),
    $white
  )
);

@each $theme, $color-map in $themes-map {
  body.#{$theme}-theme {
    @include page-theme($color-map);
  }
}

@media (prefers-color-scheme: dark) {
  body.darkmode-theme {
    @include page-theme($dark-theme);
  }
}
