$transition-time: 0.15s;
$transition-type: linear;
$transition:
  background-color $transition-time $transition-type,
  color $transition-time $transition-type,
  border-color $transition-time $transition-type;

@mixin page-theme($color-list) {
  $color1: nth($color-list, 1);
  $color2: nth($color-list, 2);
  $color3: nth($color-list, 3);
  $color4: nth($color-list, 4);
  $type:   nth($color-list, 5);

  background-color: $color3;
  color: $color1;

  // View Toggler compoenent
  transition: $transition;
  .view-toggle-button {
    transition: $transition;
    .button-group {
      //transition: $transition;
      border-color: $color2;
    }

    .label {
      //transition: $transition;
      @if $type == 'dark' {
        color: lighten($color2, 10%);
      }
      @else {
        color: darken($color2, 10%);
      }
    }

    .toggle-button {
      transition: $transition;
      border-color: $color3;

      &:hover {

      }

      &.active {
        border-color: $color1;
        background-color: $color1;
        color: $color3;
      }

      &:not(.active):hover {
        border-color: $color2;
        background-color: $color2
      }
    }
  }

  // Standings component
  .team-results-table {
    transition: $transition;
    background-color: $color4;

    .team-results-row {
      transition: $transition;
      &:not(.nfl-team-row):not(.header-row) {
        background-color: $color1;
        color: $color4;
      }
    }

    .nfl-team-row {
      transition: $transition;
      color: $color2;
      &:not(:last-child) {
        border-color: $color3;
      }
    }

    .team-draft-picks {
      transition: $transition;
      color: $color2;
    }
  }

  // Team Standings component
  #team-standings {
    transition: $transition;
    background-color: $color4;

    .team-standings-row {
      transition: $transition;
      color: $color2;

      &:not(:last-child) {
        transition: $transition;
        border-color: $color3;
      }

      &.header-row {
        transition: $transition;
        color: $color1;
        border-color: $color2;
      }

    }

    .team-standings-cell-player {
      span:hover {
        transition: $transition;
        background-color: $color3;
      }
    }

    .highlighted-row {
      transition: $transition;
      color: $color1;
      background-color: lighten($color3, 5%);
    }
  }

  // Footer component
  .footer {
    transition: $transition;
    @if $type == 'dark' {
      color: lighten($color2, 10%);
    }
    @else {
      color: darken($color2, 10%);
    }

    a {
      transition: $transition;
      @if $type == 'dark' {
        color: darken($color1, 1%);
      }
      @else {
        color: lighten($color1, 1%);
      }

      &:hover {
        transition: $transition;
        @if $type == 'dark' {
          background-color: $color2;
        }
        @else {
          background-color: lighten($color2, 10%);
        }
      }
    }
  }
}

$dark-theme: #ccc, #999, #333, #555, 'dark';
$default-theme: $dark, $medium, $light, $white, 'light';

$themes-map: (
  default: $default-theme,
  dark: $dark-theme,
  eagles: (
    map-get(map-get($teams-map, 'PHI'), 'primary'),
    $medium,
    map-get(map-get($teams-map, 'PHI'), 'secondary'),
    $white,
    'light'
  )
);

@each $theme, $color-map in $themes-map {
  body.#{$theme}-theme {
    @include page-theme($color-map);
  }
}

@media (prefers-color-scheme: dark) {
  body.darkmode-theme {
    @include page-theme($dark-theme);

    .button-group-theme {
      display: none !important;
    }
  }
}
