$dark:   #5a6673;
$medium: #9d9d9d;
$light:  #cdcdcd;
$white:  #eeeeee;

$eagles-black: #000000;
$eagles-green: #004c55;
$eagles-silver:#a5acaf;
$eagles-white: #ffffff;

$dark-green:   #5acc73;
$light-green:  #9dcc9d;
$dark-red:     #cc6673;
$light-red:    #cc9d9d;

$teams-map: (
  PHI: (
    primary:   #004C54,
    secondary: #A5ACAF,
  ),
  NE: (
    primary:   #C60C30,
    secondary: #002244
  ),
  ARI: (
    primary:   #97233F,
    secondary: #FFB612
  ),
  BUF: (
    primary:   #00338D,
    secondary: #C60C30
  ),
  CIN: (
    primary:   #FB4F14,
    secondary: #000000
  ),
  DEN: (
    primary:   #FB4F14,
    secondary: #002244
  ),
  HOU: (
    primary:   #03202F,
    secondary: #A71930
  ),
  KC: (
    primary:   #E31837,
    secondary: #FFFFFF
  ),
  MIN: (
    primary:   #4F2683,
    secondary: #FFC62F
  ),
  NYG: (
    primary:   #0B2265,
    secondary: #A71930
  ),
  SF: (
    primary:   #B3995D,
    secondary: #AA0000
  ),
  TEN: (
    primary:   #418FDE,
    secondary: #0C2340
  ),
  ATL: (
    primary:   #A71930,
    secondary: #000000
  ),
  CAR: (
    primary:   #0085CA,
    secondary: #101820
  ),
  CLE: (
    primary:   #311D00,
    secondary: #FF3C00
  ),
  DET: (
    primary:   #0076B6,
    secondary: #B0B7BC
  ),
  IND: (
    primary:   #002C5F,
    secondary: #FFFFFF
  ),
  LAR: (
    primary:   #002244,
    secondary: #B3995D
  ),
  NYJ: (
    primary:   #125740,
    secondary: #FFFFFF
  ),
  PIT: (
    primary:   #101820,
    secondary: #FFB612
  ),
  SEA: (
    primary:   #002244,
    secondary: #69BE28
  ),
  WAS: (
    primary:   #773141,
    secondary: #FFB612
  ),
  BAL: (
    primary:   #241773,
    secondary: #9E7C0C
  ),
  CHI: (
    primary:   #0B162A,
    secondary: #C83803
  ),
  DAL: (
    primary:   #869397,
    secondary: #041E42
  ),
  GB: (
    primary:   #203731,
    secondary: #FFB612
  ),
  JAX: (
    primary:   #006778,
    secondary: #D7A22A
  ),
  MIA: (
    primary:   #008E97,
    secondary: #FC4C02
  ),
  NO: (
    primary:   #D3BC8D,
    secondary: #101820
  ),
  OAK: (
    primary:   #C4C9CC,
    secondary: #000000
  ),
  LAC: (
    primary:   #0080C6,
    secondary: #FFC20E
  ),
  TB: (
    primary:   #D50A0A,
    secondary: #FF7900
  )
);

$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size: 62.5%; // 1rem = 10px

$symbols: (
  "nbsp": "\00a0"
);